.DS_Store
*.mode1v3
*.pbxuser
.svn
build
*.o
*.lev
*.rej
*.orig
win/share/tile2png
Makefile
dat/Makefile
dat/data
dat/dungeon.pdf
dat/options
dat/oracles
dat/quest.dat
dat/quest_levs
dat/rumors
dat/spec_levs
doc/Makefile
include/date.h
include/dgn_comp.h
include/filename.h
include/onames.h
include/pm.h
include/tile.h
include/vis_tab.h
src/Makefile
src/config.h-t
src/hack.h-t
src/monstr.c
src/tile.c
src/vis_tab.c
util/Makefile
dat/dungeon
include/lev_comp.h
util/dgn_comp
util/dgn_lex.c
util/dgn_yacc.c
util/lev_comp
util/lev_lex.c
util/lev_yacc.c
util/makedefs
util/tilemap
slashem_enforcer_0.6.patch
src/apply.c.orig
src/dig.c.orig
src/dig.c.rej
src/do_wear.c.orig
src/engrave.c.orig
src/engrave.c.rej
src/invent.c.orig
src/invent.c.rej
src/lock.c.orig
src/mon.c.orig
src/monst.c.orig
src/objnam.c.orig
src/tech.c.orig
src/trap.c.orig
src/wield.c.orig
