<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>John Shaw</string>
		<key>filename</key>
		<string>absurd32.png</string>
	</dict>
	<dict>
		<key>author</key>
		<string>Mitsuhiro Itakura, Joep Gerrits</string>
		<key>filename</key>
		<string>gltile32.png</string>
	</dict>
	<dict>
		<key>author</key>
		<string>James Hogwood</string>
		<key>filename</key>
		<string>chozo32c.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ascii</string>
	</dict>
</array>
</plist>
